table {
    text-align: left;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    display: table;
    padding: 0 0 8em 0;
    background-color: #ffffff;
}

th td {
    padding: 1rem;
    text-align: left;
}

img {
    width: 2rem;
}