<table>
    <tr class="line">
      <th *ngFor="let th of tableLabels">{{th}}</th>
    </tr>
    <tr *ngFor="let td of tableData" class="row">
        <td>
            <app-radio-button status={{td.status}}></app-radio-button>
        </td>
        <td>
            <img src={{td.image}} alt={{td.description}}>
        </td>
        <td>
            <a class="number" href="">{{td.number}}</a>
        </td>
      <td class="description">{{td.description}}</td>
      <td>{{td.instalDate}}</td>
      <td>{{td.lastService}}</td>
      <td>
        <span class="components">{{td.nbComponents}}</span>
      </td>
      <td>
        <div class="more"></div>
      </td>
    </tr>
</table>