<div class="card">
    <div class="card__header">
        <app-icon-star></app-icon-star>
        <div class="card__header-notification">
            <img src="../../../assets/images/notification-icon.svg" alt="NOTIFICATION">
            <span>NOTIFICATION</span>
        </div>
    </div>
    <div class="card__status">
        <app-flag-icon></app-flag-icon>
        <a href="" class="link-number">3124324</a>
        <span class="card__date">Sep 13, 2022</span>
    </div>
    <div class="card__body">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. 
    </div>
    <div class="card__progress">
        <p><ngb-progressbar type="primary" [value]="75"></ngb-progressbar></p>
        <span class="card__price">14089,30 €</span>
    </div>
    <div class="card__footer">
        <app-button [value]="'More'"></app-button>
    </div>
</div>