<footer class="footer">
    <div class="footer__container">
        <div class="footer__left">
            <div class="footer__left-text">
                <h2>Sign up to our Newsletter</h2>
                <div style="width: 17.3125rem;">Get <b>10% off</b> your first order and receive weekly updates in your inbox</div>
            </div>
            <img src="../../../assets/images/logo.svg" alt="ecenta">
        </div>
        <div class="footer__right">
            <div class="footer__right-text">Subscribe for newsletter</div>
            <ul class="footer__menu">
                <li>Contact us</li>
                <li>Data Privacy</li>
                <li>Imprint</li>
            </ul>
        </div>
    </div>
</footer>