$body-color: #E7ECF0;
$white-color: #ffffff;

$main-font-color: #333333;

$grey-color: #B6B6B6;
$grey-light-color: rgba(0, 60, 90, 0.5);

$blue-color: #0167B9;

$success-color: #74BC26;
$error-color: #FF5555;
$warning-color: #F5A623;
