@import 'src/styles/colors.scss';
@import 'src/styles/variables.scss';

@mixin link-number {
    color: $blue-color;
    font-weight: 700;
    text-decoration: none;
}

p {
    margin: 0;
}

ul {
    list-style: none;
}

h1 {
    font-size: 1.875rem;
    line-height: 2.25rem;
    color: $white-color;
    margin: 0
}

.h4 {
    color: $grey-dark-color!important;
    line-height: 0.8125rem!important;
    letter-spacing: 0.125rem!important;
    margin: 0!important;
    font-size: 1rem!important;
}

.link-number {
    @include link-number;
}

.rotate {
    transform: rotate(180deg);
}

.border-dashed {
    position: relative;
    &::after {
       content: '';
        width: 100%;
        border-bottom: $border-dashed;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

.service-title {
    display: flex;
    gap: 1.077rem;
    align-items: center;
    padding-bottom: 1rem;
}

::ng-deep .progress {
    background-color: $grey-light;
    width: 3.125rem;
    height: 0.3125rem;
}