@import 'src/styles/colors.scss';
@import 'src/styles/variables.scss';

@mixin h4 {
    color: $grey-dark-color;
    line-height: 0.8125rem;
    letter-spacing: 0.125rem;
    margin: 0;
    font-size: 0.6875rem;
}

@mixin link-number {
    color: $blue-color;
    font-weight: 700;
    text-decoration: none;
}

p {
    margin: 0;
}

ul {
    list-style: none;
}

h1 {
    font-size: 1.875rem;
    line-height: 2.25rem;
    color: $white-color;
    margin: 0
}

h4 {
    @include h4;
}

.link-number {
    @include link-number;
}

.border-dashed {
    position: relative;
    &::after {
       content: '';
        width: 100%;
        border-bottom: $border-dashed;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}
