<div class="card border-0" *ngFor="let card of cardData">
    <div class="card__header border-dashed">
        <div class="card__icon">
            <app-icon-star></app-icon-star>
        </div>
        <div class="service-title">
            <img src="../../../assets/images/notification-icon.svg" alt="NOTIFICATION">
            <h4 class="h4">NOTIFICATION</h4>
        </div>
    </div>
    <div class="card__status border-dashed py-3">
        <app-flag-icon [status]="card.status"></app-flag-icon>
        <a href="" class="link-number">{{card.number}}</a>
        <span class="card__date">{{card.instalDate}}</span>
    </div>
    <div class="card__body border-dashed py-3">
        {{card.description}}
    </div>
    <div class="card__progress border-dashed py-2 d-flex">
        <ngb-progressbar type="primary" [value]="card.progress"></ngb-progressbar>
        <span class="card__price">{{card.total | currency: 'EUR'}}</span>
    </div>
    <div class="card__footer py-3">
        <app-button [btnClass]="'primarily'" [value]="'More'"></app-button>
    </div>
</div>