@import 'src/styles/colors.scss';

:host {
    display: flex;
    gap: 1.5rem;
    flex-direction: row;
    margin: 1.25rem 0 1.5rem;
}

.card {
    padding: 3.18rem;
    border-radius: 0.9rem;
    width: 26.5rem;

    &__icon {
        position: absolute;
        right: 0;
        top: -60%;
    }

    &__status {
        display: flex;
        gap: 0.9375rem;
    }

    &__progress {
        gap: 0.9375rem;
        align-items: baseline;
    }
}