@import 'src/styles/variables.scss';
@import 'src/styles/colors.scss';

.app {
    background-color: $body-color;
    &__container {
        padding: 0 3.125rem;
        margin: 0 auto;
        width: $container-width;
    }
}