@import 'src/styles/colors.scss';

.button {
    padding: 0.3125rem 0.9375rem;
    border: none;
    color: $blue-color;
    border-radius: 1.625rem;
    background-color: $white-color;
}

.primarily {
    border: 1px solid $blue-color;
}

.secondary {
    border: none;
}