@import 'src/styles/colors.scss';
@import 'src/styles/resolutions.scss';

$dropdown-width: 6.25rem;

.Dropdown {
    margin-bottom: 1.5rem;

    &__container {
        display: flex;
        flex-direction: column;
    }

    &__label {
        color: $grey-color;
        font-size: 0.5625rem;
        line-height: 0.6875rem;
        margin-bottom: 0.3125rem;
        padding-left: 0.625rem;
    } 
    
    &__item {
        background-color: $white-color;
        border-radius: 1.5rem;
        padding: 0.3125rem 0.3125rem 0.3125rem 0.625rem;
        width: $dropdown-width;
        font-size: 0.8125rem;
        color: $blue-color;
        font-weight: 700;
        border-color: transparent;
    }
}

@media screen and (max-width: $mobile) {
    .dropdown {
        gap: 10%;
    }
}