<div class="header">
  <div class="header__dropdown">
    <span class="header__dropdown-label">Status</span>
    <select class="selectpicker header__dropdown-item">
      <option *ngFor="let status of statuses" value={{status}}>{{status}}</option>
    </select>
  </div>
  <div class="header__dropdown">
    <span class="header__dropdown-label">Description</span>
    <select class="selectpicker header__dropdown-item">
      <option *ngFor="let description of descriptions" value={{description}}>{{description}}</option>
    </select>
  </div>
</div>