@import 'src/styles/colors.scss';
@import 'src/styles/resolutions.scss';

.header {
    margin-bottom: 1.5rem;

    &__dropdown {
        display: flex;
        flex-direction: column;

        &-label {
            font-weight: 700;
            color: $grey-color;
            margin-left: 0.4rem;
        }

        &-item {
            background-color: $white-color;
            border-radius: 4rem;
            max-width: fit-content;
            margin-top: 0.3rem;
            color: $blue-color;
            font-weight: 600;
            font-size: 0.6rem;
            border-color: transparent;
        }
    }
}

@media screen and (max-width: $mobile) {
    .header {
        gap: 10%;
    }
}