//todo- import colors

.header {
    background-color: #e7ecf0;
    display: flex;
    justify-content: flex-end;
    gap: 5%;

    p {
        color: #d1dce2;
        font-size: 0.5rem;
        font-weight: 600;
    }

    &__dropdown {
        display: flex;
        gap: 5%;
    }
}