<div class="header">
    <div class="header__dropdown" *ngFor="let item of filters | keyvalue">
        <span class="header__dropdown-label">{{item.key | uppercase}}</span>
        <mat-form-field floatLabel="never" class="header__dropdown-item">
            <mat-select placeholder="Show All">
              <mat-option *ngFor="let option of item.value" [value]="option.value">
                {{option.viewValue}}
              </mat-option>
            </mat-select>
       </mat-form-field>
    </div>
</div>