@import 'src/styles/colors.scss';

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    font-size: 0.5rem; 
    font-weight: 300;
    background-color: $body-color;
}