@import 'src/styles/colors.scss';
@import 'src/styles/variables.scss';
@import 'src/styles/mixins/table-mixin.scss';

$table-border-color: rgb(240, 237, 237);
$image-width: 2.5rem;
$wide-row: 11.25rem;
$number-icon-width: 0.9375rem;

$dropdown-width: 6.25rem;

.Table {
    @include table;

    &__dropdown {
        display: flex;
        flex-direction: row;
        justify-content: end;
        gap: 1.25rem;
        padding-top: 1.5625rem;
        margin-bottom: 1.5rem;

        &--hide {
            display: none;
        }
    }

    &__label {
        @include label;

        &-item {
            @include label-item;
        }
    }

    &__row {
        @include table-row; 
    }
    
    &__description {
        width: $wide-row;
    }

    &__image {
        width: $image-width;
    }

    &__numberIcon {
        width: $wide-row;
        padding: 0;

        &-item {
            background-color: $blue-color;
            border-radius: 100%;
            color: $white-color;
            font-size: 0.625rem;
            width: $number-icon-width;
            text-align: center;
        }
    }

    &__action {
        @include table-action;
    }
}

select {
    background-color: $white-color;
    border-radius: 1.5rem;
    padding: 0.3125rem 0.3125rem 0.3125rem 0.625rem;
    width: $dropdown-width;
    font-size: 0.8125rem;
    color: $blue-color;
    font-weight: 700;
    border-color: transparent;
}