@import 'src/styles/colors.scss';
@import 'src/styles/variables.scss';

@mixin table {
    text-align: left;
    width: 100%;
    margin: 0 auto;
    display: table;
    padding: 0.8125rem 2.1875rem 2.1875rem;
    background-color: $white-color;
    border-radius: 0.625rem;
    border-collapse: unset;
    border-spacing: 1.5rem;
}

@mixin label {
    color: $grey-color;
    position: relative;

    &::after {
        content: '';
        width: 100%;
        border-bottom: 0.0625rem solid $grey-color;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

@mixin label-item {
    padding: 0.9375rem 0;
    font-weight: 400;

    &:nth-child(3) {
        display: flex;
        gap: 0.625rem;
        cursor: pointer;
    }
}

@mixin table-row {
    position: relative;
    &::after {
        content: '';
        width: 100%;
        border-bottom: $border-dashed;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    > td {
        padding: 0.9375rem 0;
    }
}

@mixin table-action {
    &::after {
        content: '\2807';
        font-size: 1rem;
        color: $blue-color;
        cursor: pointer;
    }
}