<div class="table__dropdown">
  <app-dropdown [label]="'Status'" [filterDropdown]="statuses" [id]="'status'" (change)="[onFilterTable('status')]"></app-dropdown>
  <app-dropdown [label]="'Description'" [id]="'description'" [filterDropdown]="descriptions" (change)="[onFilterTable('description')]"></app-dropdown>
</div>

<table class="table">
    <tr class="table__label">
      <th class="table__label-item" *ngFor="let label of tableLabels">{{label}}</th>
    </tr>
    <tr *ngFor="let row of filteredTable" class="table__row">
        <td>
            <app-radio-button status={{row.status}}></app-radio-button>
        </td>
        <td>
            <img class="table__image" src={{row.image}} alt={{row.description}}>
        </td>
        <td>
            <a class="table__number" href="">{{row.number}}</a>
        </td>
      <td class="table__description">{{row.description}}</td>
      <td>{{row.instalDate}}</td>
      <td>{{row.lastService}}</td>
      <td class="table__numberIcon">
        <div class="table__numberIcon-item">{{row.nbComponents}}</div>
      </td>
      <td>
        <div class="table__action"></div>
      </td>
    </tr>
</table>