<div class="Table__dropdown">
  <app-dropdown [label]="'Status'" [filterDropdown]="statuses" [id]="'status'" (change)="[onFilterTable('status')]"></app-dropdown>
  <app-dropdown [label]="'Description'" [id]="'description'" [filterDropdown]="descriptions" (change)="[onFilterTable('description')]"></app-dropdown>
</div>

<table class="Table">
    <tr class="Table__label">
      <ng-container *ngFor="let label of tableLabels">
        <th id="number" class="Table__label-item" *ngIf="label === 'Number'" (click)="onSort('number')">{{label}}
          <img [ngClass]="rotateSortIcon ? 'rotate' : ''" *ngIf="label === 'Number'" src="../../../assets/images/arrow-down.svg" alt="arrow-down">
        </th>
        <th *ngIf="label !== 'Number'" class="Table__label-item">{{label}}</th>
      </ng-container>
    </tr>
    <tr *ngFor="let row of filteredTable" class="Table__row">
        <td>
            <app-radio-button [status]="row.status"></app-radio-button>
        </td>
        <td>
            <img class="Table__image" [src]="row.image" [alt]="row.description">
        </td>
        <td>
            <a class="link-number" href="">{{row.number}}</a>
        </td>
      <td class="Table__description" id="description" (click)="onSort('description')">{{row.description}}</td>
      <td>{{row.instalDate}}</td>
      <td>{{row.lastService}}</td>
      <td class="Table__numberIcon">
        <div class="Table__numberIcon-item">{{row.nbComponents}}</div>
      </td>
      <td>
        <div class="Table__action"></div>
      </td>
    </tr>
</table>