@import 'src/styles/colors.scss';

$table-border-color: rgb(240, 237, 237);

.table {
    text-align: left;
    overflow: hidden;
    width: 100%;
    max-width: 50rem;
    margin: 0 auto;
    display: table;
    padding: 2rem;
    background-color: $white-color;
    border: 0.00654rem solid $table-border-color;
    border-radius: 0.5rem;

    &__dropdown {
        display: flex;
        flex-direction: row;
        justify-content: end;
        gap: 5%;
    }
}

th {
    color: $grey-light-color;
}

tr {
    position: relative;
}

th td {
    padding: 1rem;
    text-align: left;
}

img {
    width: 2rem;
}

.line {
    font-size: 0.6rem;
    &::after {
        content: '';
        width: 100%;
        height: 0.654rem;
        border-bottom: 0.0654rem solid $grey-light-color;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

.number {
    color: $blue-color;
    font-weight: 700;
    text-decoration: none;
}

.description {
    width: 30%;
}

.components {
    background-color: $blue-dark-color;
    padding: 0.0654rem 0.1654rem;
    border-radius: 100%;
    color: $white-color;
    font-size: 0.5rem;
}

.more::after {
    content: '\2807';
    font-size: 1rem;
    color: $blue-color;
    cursor: pointer;
}