@import 'src/styles/colors.scss';
@import 'src/styles/variables.scss';
@import 'src/styles/mixins.scss';

$table-border-color: rgb(240, 237, 237);
$image-width: 2.5rem;
$wide-row: 11.25rem;
$number-icon-width: 0.9375rem;

.Table {
    text-align: left;
    width: 100%;
    margin: 0 auto;
    display: table;
    padding: 0.8125rem 2.1875rem 2.1875rem;
    background-color: $white-color;
    border-radius: 0.625rem;
    border-collapse: unset;

    &__dropdown {
        display: flex;
        flex-direction: row;
        justify-content: end;
        gap: 1.25rem;
        padding-top: 1.5625rem;
    }

    &__label {
        color: $grey-color;
        position: relative;
        &::after {
            content: '';
            width: 100%;
            border-bottom: 0.0625rem solid $grey-color;
            position: absolute;
            bottom: 0;
            left: 0;
        }

        &-item {
            padding: 0.9375rem 0;
            font-weight: 400;
        }
    }

    &__row {
        position: relative;
    &::after {
        content: '';
        width: 100%;
        border-bottom: $border-dashed;
        position: absolute;
        bottom: 0;
        left: 0;
    } 
    
    > td {
        padding-top: 0.9375rem;
    }
    }
    
    &__description {
        width: $wide-row;
    }

    &__image {
        width: $image-width;
    }

    &__numberIcon {
        width: $wide-row;
        padding: 0;

        &-item {
            background-color: $blue-color;
            border-radius: 100%;
            color: $white-color;
            font-size: 0.625rem;
            width: $number-icon-width;
            text-align: center;
        }
    }

    &__action::after {
        content: '\2807';
        font-size: 1rem;
        color: $blue-color;
        cursor: pointer;
    }
}